<nav
  class="navbar navbar-expand-lg fixed-top shadow-sm"
  style="background: linear-gradient(90deg, #0d6efd, #6610f2)"
>
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center fw-bold fs-4"
      routerLink="/"
    >
      <img
        src="/assets/logo.svg"
        alt="QuickStay Logo"
        width="200"
        height="100"
        class="me-2 rounded-circle"
      />
      <!-- QuickStay -->
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <button class="btn btn-dark rounded-pill ms-3">Login</button>
    </div>
  </div>
</nav>
